@charset "UTF-8";
/* CSS Document */

.container header {
    color: #FFFFFF;
}

/* dripdrop-logo */

.dripdrop_logo {
    width: 150px; 
    height: auto;
	margin-left: 30px;
	margin-top: 20px;
}

/* Forbedre dripdrop-logo med en større størrelse */


a img {
    max-width: 45%; /* introduktion-boks af dripdrop */
    height: auto;
    display: block; 
    margin: 0 auto; 
    border: 2px solid #333; 
}




